.edit-task-container {
    width: 40%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-task-container .content {
    width: 100%;
    padding: 96px;
    background: #333;
    box-shadow: 0 0 100px rgba(255, 20, 147, 0.25);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.edit-task-container .close { 
    position: absolute;
    right: 30px;
    top: 30px;
    background: transparent;
    border: none;
}

.edit-task-container .content form { 
    width: 100%;
    max-width: 450px;
}

.edit-task-container .content form input,
.edit-task-container .content form textarea {
    margin-top: 8px;
}
